*
!.gitignore
!README.md
!CMakeLists.txt
!mage.h
!mink
!mink/*.c
!mink/*.h
!moad
!moad/*.c
!moad/*.h
!seer
!seer/*.cpp
!seer/*.hpp
!projects
!projects/*/
!projects/*/*.asm
!projects/*/*.c
!img
!img/*.PNG